<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active fixedImg ">
      <img src="assets/logo/V.png" class=" mx-auto d-block" alt="...">
    </div>
  </div>
</div>
<div *ngIf="completesStory.length !==0">
  <div *ngIf="!completeStorySelected">

    <h1 class="text-center title">{{story.title}}</h1>
    <mat-chip-list *ngFor="let tag of this.story.literaryGenreList">
      <mat-chip>{{tag}}</mat-chip>
    </mat-chip-list>
    <div class="text-center">
      <button mat-raised-button color="primary" aria-label="Example icon button with a bookmark icon"
              (click)="loadStory()">
        <mat-icon>timeline</mat-icon>
        <span class="ml-2">Explore</span>
      </button>

    </div>
    <mat-selection-list [multiple]="false" *ngIf="isLoaded">
      <mat-list-option *ngFor="let story of completesStory" (click)="selectCompleteStory(story)"
                       style="display:inline-block; width:50%; text-align:center;">
        <mat-icon mat-list-icon>history_edu</mat-icon>
        <p>Nombres de paragraphes: {{story.paragraphs.length}}</p>
        {{getAllTags(story)}}
       <!--  <mat-chip-list *ngFor="let tag of getAllTags(story)">
          <mat-chip>{{tag}}</mat-chip>
        </mat-chip-list>-->
        <div *ngIf="story.rateCount != 1" mat-line>{{story.rate.toFixed(2)}}/5 sur {{story.rateCount}} notes</div>
        <div *ngIf="story.rateCount == 1" mat-line>{{story.rate.toFixed(2)}}/5 sur {{story.rateCount}} note</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <!-- <div *ngIf="completeStorySelected">
      <app-complete-story [completeStory]="this.completeStory" [story]="this.story">
      </app-complete-story>

  </div> -->
</div>

<div *ngIf="completesStory.length===0" class="text-center">
  <h1>
    Il n'y a pas encore d'histoire complete pour cette histoire
  </h1>
  <div class="col">
    <button mat-raised-button color="primary" aria-label="Example icon button with a bookmark icon"
            (click)="loadStory()">
      <mat-icon>timeline</mat-icon>
      <span class="ml-2">Explore</span>
    </button>
  </div>
</div>
