<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active fixedImg ">
      <img src="assets/logo/V.png" class=" mx-auto d-block" alt="...">
    </div>
  </div>
</div>
<div *ngIf="completesStory.length !==0">
  <div *ngIf="!completeStorySelected">

    <h1 class="text-center title">Histoire completes</h1>
    <div class="text-center">
      <button mat-raised-button color="primary" aria-label="Example icon button with a bookmark icon"
              (click)="loadStory()">
        <mat-icon>timeline</mat-icon>
        <span class="ml-2">Explore</span>
      </button>

    </div>
    <mat-selection-list [multiple]="false" *ngIf="isLoaded">
      <mat-list-option *ngFor="let story of completesStory" (click)="selectCompleteStory(story)"
                       style="display:inline-block; width:50%; text-align:center;">
        <mat-icon mat-list-icon>history_edu</mat-icon>
        <p>Nombres de paragraphes: {{story.paragraphs.length}}</p>
        <div *ngIf="story.rateCount != 1" mat-line>{{story.rate.toFixed(2)}}/5 sur {{story.rateCount}} notes</div>
        <div *ngIf="story.rateCount == 1" mat-line>{{story.rate.toFixed(2)}}/5 sur {{story.rateCount}} note</div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div *ngIf="completeStorySelected">
    <div class="container">
      <!--        <button mat-raised-button class="btn btn-primary button-left" color="primary" (click)="setComplete()">-->
      <!--          Histoire complète-->
      <!--        </button>-->
      <br>
      <div class="row justify-content-center">
        <br>
        <mat-label class="title"><!--Le dragon de Jade -->
          {{story.title}}
        </mat-label>
      </div>
      <br>
      <br>
      <h2>Contexte : </h2>
      <mat-card-content class="ml-5 context">
        <h3>{{story.context}}</h3>
      </mat-card-content>
      <app-complete-story [completeStory]="this.completeStory">
      </app-complete-story>
    </div>

  </div>
</div>

<div *ngIf="completesStory.length===0" class="text-center">
  <h1>
    Il n'y a pas encore d'histoire complete pour cette histoire
  </h1>
  <div class="col">
    <button mat-raised-button color="primary" aria-label="Example icon button with a bookmark icon"
            (click)="loadStory()">
      <mat-icon>timeline</mat-icon>
      <span class="ml-2">Explore</span>
    </button>
  </div>
</div>
