<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active fixedImg ">
      <img src="assets/logo/V.png" class=" mx-auto d-block" alt="...">
    </div>

  </div>
</div>
<h1 class="text-center title">Liste d'histoires</h1>
<!--<button mat-raised-button color="primary">Aléatoire</button>-->
<br>


<hr>
<!--
<div *ngIf="storiesByUser.length !== 0" class="title2 h2">
  <div >Mes histoires</div>
</div>
<div>
  <mat-form-field class="test">
    <mat-label>Trier par :</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="none">Aucun</mat-option>
      <mat-option value="name">Nom</mat-option>
      <mat-option value="popularity">Popularité</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="test">
    <button mat-raised-button color="primary" (click)="sortFeedMyStories()" class="sortButton">Trier</button>
  </div>
</div>

<br/>
<div class="story-list container-fluid">
  <div class="row equal" style="width: 100%" *ngIf="storiesByUser.length !== 0">
    <div class="story col-lg-4 col-md-6 col-sm-6 col-xl-4" *ngFor="let story of storiesByUser">

      <app-story [story]="story"></app-story>
    </div>
  </div>
</div>
-->

<div *ngIf="favsStories.length !== 0" class="title2 h2">
  <div >Mes favoris</div>
</div>
<div *ngIf="favsStories.length !== 0">
  <mat-form-field class="test">
    <mat-label>Trier par :</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="none">Aucun</mat-option>
      <mat-option value="name">Nom</mat-option>
      <mat-option value="popularity">Popularité</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="test">
    <button mat-raised-button color="primary" (click)="sortStories(favsStories)" class="sortButton">Trier</button>
  </div>
</div>

<br/>
<div class="story-list container-fluid">
  <div class="row equal" style="width: 100%" *ngIf="favsStories.length !== 0">
    <div class="story col-lg-4 col-md-6 col-sm-6 col-xl-4" *ngFor="let story of favsStories">

      <app-story [story]="story"></app-story>
    </div>
  </div>
</div>

<hr>
<div *ngIf="storiesByUser.length !== 0" class="title3 h2">
  <div>Les histoires de la communauté</div>
</div>

<div>
  <mat-form-field class="test2">
    <mat-label>Trier par :</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="none">Aucun</mat-option>
      <mat-option value="name">Nom</mat-option>
      <mat-option value="popularity">Popularité</mat-option>
      <mat-option value="author">Auteur</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tags</mat-label>
    <mat-select [formControl]="tags" multiple [(ngModel)]="selectedTags" (ngModelChange)="onTagsSelection()">
      <mat-option *ngFor="let tag of tagsList" [value]="tag">{{tag}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="test">
    <button mat-raised-button color="primary" (click)="sortStories(this.storyList)">Trier</button>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row equal ">
    <div class="story col-lg-4 col-md-6 col-sm-6 col-xl-4" *ngFor="let story of stories">
      <app-story [story]="story"></app-story>
    </div>
  </div>
</div>
