<div class="container mt-5" *ngIf="this.loaded">
  <mat-card class="shadow-lg" >
    <mat-card-content class="voices">
      <div class="iconVolumeNoVoices " *ngIf="voices.length === 0">
        <mat-icon class="icon" >volume_off</mat-icon>
        <span class="tooltiptext iconVolumeNoVoices">
          Il n'y pas de voix disponible pour l'instant. Cliquer sur l'icone + pour pouvoir en ajouter une</span>
      </div>
      <div class="iconVolume " *ngIf="voices.length > 0" >
        <mat-icon class="icon" (click)="showAllVoicesAvaible()">volume_up</mat-icon> {{voices.length}}
        <span class="tooltiptext iconVolume"> Cliquer sur l'icone volume pour afficher la liste des voix disponibles</span>
      </div>
      <div class="button-right">
        <mat-icon  (click)="showUploadAudio()" class="icon">add_circle</mat-icon>
        <span class="tooltiptext button-right"> Cliquer sur l'icone + pour pouvoir ajouter une voix au paragraphe</span>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="this.loaded">
      <mat-card-title >{{paragraph.description}}</mat-card-title>
      <mat-card-subtitle>par {{paragraph.author}}</mat-card-subtitle>
       <!-- <button mat-raised-button class="btn btn-primary  button-right" color="primary" (click)="showUploadAudio()">Ajouter voix</button> -->
    </mat-card-content>
    <mat-card-content *ngIf="this.loaded">
      <hr class="my-4">
      <p class="mt-2 mx-5 row justify-content-start histoire mat-h2">
        {{paragraph.text}}
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="!paragraph.endParagraph">
      <button class="writeButton" mat-fab (click)="write()" *ngIf="!toggleWrite" [hidden]="!showEdit">
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-footer>
    <!--  <div *ngIf="toggle">
        <app-children-list [paragraph]="this.paragraph" (childEvent)="receivedNext($event)"></app-children-list>
      </div> -->
      <div  *ngIf="toggleWrite">
        <mat-card>
        <app-paragraph-write class ="write" [parent]="paragraph._id" [story]="paragraph.idStory" (published)="write()"></app-paragraph-write>
        </mat-card>
      </div>
      <!--   <div *ngIf="toggleUpload">
        <app-audio-upload [paragraph]="paragraph._id"></app-audio-upload>
      </div>-->
    </mat-card-footer>
  </mat-card>
</div>
<div class="container mt-1" [hidden]="!last" >
  <div class="button-parent" *ngIf="!showingComplete && !paragraph.endParagraph">
    <button mat-raised-button class="btn btn-primary button-right2" color="primary" (click)="showChildren()">&gt;</button>
  </div>
</div>

<div class="container mt-1" [hidden]=" first || !last" >
  <div class="button-parent" *ngIf="!showingComplete">
    <button
      (click)="back()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

