<mat-toolbar color="primary" class="mb-5">
  <mat-toolbar-row>
    <span>Selectionnez votre profil</span>
  </mat-toolbar-row>


</mat-toolbar>


<div class="container" >
  <div class="row" >
    <div class="col-sm" *ngFor="let user of usersList" >
      <mat-card class="example-card shadow-lg bg-4">
      <mat-card-header class="">
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' +getDirPic(user.picture) + ')'}" class="example-header-image"></div>
        <mat-card-title>{{user.name}}</mat-card-title>
        <mat-card-subtitle>{{user.type}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="getDirPic(user.picture) "  alt="mercé">
      <mat-card-content>
        <h2>Bio:</h2>
        <p>
         {{user.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-button-toggle value="bold" (click)="selectProfil(user)">Select profil
        </mat-button-toggle>
      </mat-card-actions>
    </mat-card>
    </div>

  </div>
</div>
