.example-card {
  max-width: 400px;
}

.mat-card-header {
  display: inherit;
}

.infos {
  display: inline-flex;
  padding-right: 10%;
  padding-left: 10%;
}

.info {
  padding-right: 10px;
}

.mat-icon-button {
  padding-left: 50%;
  padding-right: 50%;
}
