.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-weight:500;
}
.mat-h3{
  font-weight: 500;
}
.card {
  min-height: 300px;
}

.block-with-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.footer{
  position: absolute;
  bottom: 0;
  right:0;

}
fixed-bottom{position:fixed;right:0;bottom:0;left:0;z-index:1030}


.buttonComplete {
  width: unset;
  padding: 0 15px;
  border-radius: 29px;
}

.mat-custom {
  background: white;
}

.mat-custom:hover {
  background: #0a2463;
  color: white;
}

.CompleteStories {
  padding-right: 50px;
}


.size-button {
  height: 30px;
  width: 30px;
}

.size-icon {
  height: 5px;
  width: 5px;
}
.example-header-image {
  background-image: url('src/assets/img/defaultPP.png');
  background-size: cover;
}

mat-chip-list {
  display: inline-flex;
  padding: 1em 1em 1em 1em;
}
